<div class="edit edit__product product__form--add">
    <h2 class="edit__title">Edit</h2>
    <form action="/dashboard/product/edit/<%- infoPro._id %>" method="POST" enctype="multipart/form-data">
        <div class="form__add--container">
            <div class="form__add--item">
                <div class="form__group">
                    <label for="proName">Tên Giày*:</label>
                    <input id="proName" type="text" name="proName" value="<%- infoPro.name %>" />
                </div>
                <div class="form__group">
                    <label for="proPrice">Giá Giày*:</label>
                    <input id="proPrice" type="number" min=0 max="100000000" name="proPrice" value="<%- infoPro.price %>" />
                </div>
                <div class="form__group">
                    <label for="proQuantity">Số Lượng*:</label>
                    <input id="proQuantity" type="number" min=0 name="proQuantity" value="<%- infoPro.quantity %>" />
                </div>
                <div class="form__group">
                    <label for="proDiscount">Giảm Giá %:</label>
                    <input id="proDiscount" type="number" min="0" max="100000000" name="proDiscount" value="<%- infoPro.discount %>" />
                </div>
                <div class="form__group">
                    <label for="proDescription">Mô Tả:</label>
                    <textarea id="proDescription" rows="7" resize="false" name="proDescription"><%- infoPro.description %></textarea>
                </div>
            </div>
            <div class="form__add--item">
                <div>
                    <label class="label__upload--image" for="file">
                        <span>Ảnh*:</span>
                        <div>
                            <img class="showProImage" src="/assets/uploads/<%- infoPro.image %>" />
                        </div>
                    </label>
                    <input class="proImage"id="file" type="file" name="proImage" accept="image/*" />
                </div>
                <div class="size">
                    <div>Kích Thước</div>
                    <% infoPro.size.forEach(val => { %>
                        <label for="size<%- val %>"><%- val %></label>
                        <input id="size<%- val %>" type="checkbox" checked value="<%- val %>" name="size" />
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="form__group form__actions">
            <button class="btn__save" type="submit">Lưu</button>
            <button class="btn__cancel" type="button"><a href="/dashboard/product">Hủy</a></button>
        </div>
    </form>
</div>

<script>
    var image = document.querySelector('.proImage');
    var show = document.querySelector('.showProImage');
    console.log('dfssfd');
    image.addEventListener('change', (e)=> {
        var fileReader = new FileReader();
        var infoFile = e.target.files[0];
        
        fileReader.readAsDataURL(infoFile);

        fileReader.onload = function(e) {
            var url = fileReader.result;
            show.setAttribute('src', url);
        };
    });
</script>