<main>
    <section class="section__cart">
        <div class="container">
            <% if(docCart) { %>
                <div class="cart">
                    <div class="cart__list">
                        <table>
                            <% listPro.map(item => { %>
                                <tr>
                                    <td>
                                        <input checked type="checkbox" disabled />
                                    </td>
                                    <td class="col__image">
                                        <a href="/product/<%- item.product._id %>">
                                            <img src="/assets/uploads/<%- item.product.image %>" />
                                        </a>
                                    </td>
                                    <td class="col__name">
                                        <div><a href="/product/<%- item.product._id %>"><%- item.product.name %></a></div>
                                        <div><a href="/product/<%- item.product._id %>"><%- item.color %> & size: <%- item.size %></a></div>
                                    </td>
                                    <td class="col__price">
                                        <% priceNew = item.product.price - item.product.price*item.product.discount/100 %>
                                        <div class="col__price--new"><%- String(priceNew).replace(/\d{3}$/g, ',000') %></div>
                                        <div class="col__price--old"><%- String(item.product.price).replace(/\d{3}$/g, ',000') %></div>
                                        <div class="col__price--discount">-<%- item.product.discount %>%</div>
                                        <div class="col__price--trash">
                                            <a href="/cart/delete/<%- item._id %>"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                    <td class="col__quantity">
                                        <button getidcart="<%- item._id %>" class="cart__decrease">-</button>
                                        <input disabled class="cart__quantity" type="text" value="<%- item.quantity %>" />
                                        <button getidcart="<%- item._id %>" class="cart__increase">+</button>
                                    </td>
                                </tr>
                            <% }) %>
                        </table>
                    </div>
                    <div class="mobile__cart--list">
                        <% listPro.map(item => { %>
                            <div class="item">
                                <div>
                                    <span>
                                        <input type="checkbox" checked disabled />
                                    </span>
                                    <span>
                                        <a href="/product/<%- item.product._id %>">
                                            <img src="/assets/uploads/<%- item.product.image %>" />
                                        </a>
                                    </span>
                                </div>
                                <div>
                                    <div class="row__nameColor">
                                        <div class="col__pro--name"><a href="/product/<%- item.product._id %>"><%- item.product.name %></a></div>
                                        <div class="col__pro--color"><a href="/product/<%- item.product._id %>"><%- item.color %> & size: <%- item.size %></a></div>
                                    </div>
                                    <div class="row__priceQuantity">
                                        <div>
                                            <% priceNew = item.product.price - item.product.price*item.product.discount/100 %>
                                            <div class="col__price--new"><%- String(priceNew).replace(/\d{3}$/g, ',000') %></div>
                                            <div class="col__sale">
                                                <span class="col__sale--priceOld"><%- String(item.product.price).replace(/\d{3}$/g, ',000') %></span>
                                                <span class="col__sale--discount">-<%- item.product.discount %>%</span>
                                            </div>
                                            <div class="col__trash">
                                                <a href="/cart/delete/<%- item._id %>"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </div>
                                        <div class="col__quantity">
                                            <button getidcart="<%- item._id %>" class="cart__decrease">-</button>
                                            <input disabled class="cart__quantity" type="text" value="<%- item.quantity %>" />
                                            <button getidcart="<%- item._id %>" class="cart__increase">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <div class="cart__sidebar">
                        <h2>Chi tiết đơn hàng</h2>
                        <div class="list__order">
                            <form>
                                <div class="order__item">
                                    <div class="order__item--left">
                                        <div>Tổng số lượng(<%- totalPro %>)</div>
                                        <% if(docUser) { %>
                                            <% if(rankCurrent != "anonymous") { %>
                                                <div>Giảm</div>
                                            <% } %>  
                                        <% } %>
                                        <div>Phí vận chuyển</div>                                     
                                        <div>
                                            <input id="codesale" type="text" placeholder="Nhập mã giảm giá" name="codesale" />
                                        </div>
                                        <div>Tổng tiền:</div>
                                    </div>
                                    <div class="order__item--right">
                                        <div id="moneyPro"><%- String(moneyPro).replace(/\d{3}$/g, ',000') %>đ</div>                                        
                                        <% if(docUser) { %>
                                            <% if(rankCurrent == "anonymous") { %>
                                                <div><%- String(docCart.shipping).replace(/\d{3}$/g, ',000') %>đ</div>
                                            <% } %>
                                            <% if(rankCurrent == "Bronze") { %>
                                                <div>0%</div>
                                                <div>Freeship</div>                                           
                                            <% } %>
                                            <% if(rankCurrent == "Silver") { %>
                                                <div>2%</div>
                                                <div>Freeship</div>                                            
                                            <% } %>
                                            <% if(rankCurrent == "Gold") { %>
                                                <div>4%</div>
                                                <div>Freeship</div>                                            
                                            <% } %>
                                            <% if(rankCurrent == "Diamond") { %>
                                                <div>6%</div>
                                                <div>Freeship</div>                                            
                                            <% } %>
                                            <% if(rankCurrent == "Platinum") { %>
                                                <div>8%</div>
                                                <div>Freeship</div>                                            
                                            <% } %>
                                        <% } else { %>
                                            <div><%- String(docCart.shipping).replace(/\d{3}$/g, ',000') %>đ</div>
                                        <% } %>
                                        <div>
                                            <button class="apply">Kiểm Tra</button>
                                        </div>                                       
                                        <% if(docUser) { %>
                                            <% if(rankCurrent == "anonymous") { %>
                                                <div><%- String(moneyPro+docCart.shipping).replace(/\d{3}$/g, ',000') %>đ</div>
                                            <% } %>     
                                            <% if(rankCurrent == "Bronze") { %>
                                                <div><%- String(moneyPro).replace(/\d{3}$/g, ',000') %>đ</div>
                                            <% } %>                                  
                                            <% if(rankCurrent == "Silver") { %>
                                                <div><%- String(moneyPro*98/100).replace(/\d{3}$/g, ',000') %>đ</div>
                                            <% } %>
                                            <% if(rankCurrent == "Gold") { %>
                                                <div><%- String(moneyPro*96/100).replace(/\d{3}$/g, ',000') %>đ</div>
                                            <% } %>
                                            <% if(rankCurrent == "Diamond") { %>
                                                <div><%- String(moneyPro*94/100).replace(/\d{3}$/g, ',000') %>đ</div>
                                            <% } %>
                                            <% if(rankCurrent == "Platinum") { %>
                                                <div><%- String(moneyPro*92/100).replace(/\d{3}$/g, ',000') %>đ</div>
                                            <% } %>
                                        <% } else { %>
                                            <div><%- String(moneyPro+docCart.shipping).replace(/\d{3}$/g, ',000') %>đ</div>
                                        <% } %>
                                    </div>
                                </div>
                                <div>
                                    <button getidcartdetails="<%- docCart._id %>" type="button" class="confirmCart">XÁC NHẬN ĐƠN HÀNG</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <div class="cart__noPro">
                    <h1>Không Có Sẩn Phẩm Trong Giỏ Hàng</h1>
                    <a href="/">Tiếp Tục Mua Sắm</a>
                </div>
            <% } %>
        </div>
    </section>
</main>

<script type="module" src="/scripts/user/cart.js"></script>
