<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partial/head.ejs') %>
    <title><%- title %></title>
    <link rel="stylesheet" href="/styles/admin/style.css" />
</head>
<body>
    <div class="wrapper">
        <%- include('../partialAdmin/header.ejs') %>

        <main class="body__content">
            <%- body %>
        </main>

        <%- include('../partialAdmin/sidebar.ejs') %>
    </div>


    <div class="loading">
        <img src="/assets/images/loading.gif" />
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
    <!-- <script src="https://kit.fontawesome.com/22334fedf4.js" crossorigin="anonymous"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script type="module" src="/scripts/admin/index.js"></script>
    <%- script %>
</body>
</html>