<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partial/head.ejs') %>
    <title><%- title %></title>
    <link rel="stylesheet" href="/styles/user/style.css" />
</head>
<body>
    <div class="wrapper">
        <div class="wrapper__layout">
            <%- include('../partial/header.ejs') %>

            <%- body %>
    
            <%- include('../partial/footer.ejs') %>
        </div>
    </div>

    <%- include('../partial/effectSocial.ejs') %>
    <%- include('../partial/formChat.ejs') %>
    <%- include('../partial/loading.ejs') %>

    <!-- <script src="socket.io/socket.io.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
    <!-- <script src="https://kit.fontawesome.com/22334fedf4.js" crossorigin="anonymous"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/scripts/index.js"></script>
    <%- script %>
</body>
</html>